certifi==2018.11.29
chardet==3.0.4
Click==7.0
Deprecated==1.2.4
document==1.0
docx==0.2.4
docxtpl==0.5.11
Flask==1.0.2
gitdb2==2.0.5
GitPython==2.1.11
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.3
markdown2==2.3.7
markup.py==1.12
MarkupSafe==1.1.0
mistune==0.8.4
oauthlib==3.0.1
Pillow==5.3.0
PyGithub==1.43.3
PyJWT==1.7.0
python-docx==0.8.7
requests==2.20.1
requests-oauthlib==1.2.0
six==1.12.0
smmap2==2.0.5
urllib3==1.24.1
URLObject==2.4.3
Werkzeug==0.15.2
wrapt==1.10.11
flask-security
flask_bcrypt
flask-admin
flask_mongoengine