<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">


    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>


<body class="bg-light">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><i>Report generator</i></h5>
  <nav class="my-2 my-md-0 mr-md-3">
<!--
    <a class="p-2 text-dark" href="#">Features</a>
-->

    {% if not current_user.is_authenticated %}
    <a class="btn btn-outline-primary" href="/login">Sign in</a>
    {% else %}
    <a class="btn btn-outline-danger" href="/_logout">Logout</a>
    {% endif %}

    {% if current_user.has_role('admin') %}
    <a class="btn btn-outline-dark" href="/admin">admin</a>
    {% endif %}


      {% if current_user.is_authenticated and github %}
         <a class="p-4 text-dark" href="{{ github['url'] }}">{{ github['login'] }}</a>
         <img src='{{ github["avatar_url"] }}' class="rounded-circle" alt="{{ github['url'] }}" height="40" width="40">

      {% elif current_user.is_authenticated %}
        <a class="btn btn-success" href="/github_login">Sign in throw Github</a>
      {% endif %}


  </nav>
</div>

{% block before_body %}

{% endblock %}
<div class="row">
    {% if repositories and current_user.is_authenticated and github %}
    <div class="col-3">
<p>List of repositories</p>
<div class="list-group col-md-9" id="repos" role="tablist">
{% for repo in repositories %}
    <a href="{{ repo['url'] }}" class="list-group-item list-group-item-action" data-toggle="list" role="tab">{{ repo['name'] }}</a>
    {% endfor %}
</div>
</div>
{% endif %}
{% block content %}

{% endblock %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-latest.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>


</body>
</html>
