<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">


    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body class="bg-light">
<h1>hello world!</h1>

        {% block content %}

        {% endblock %}

<button id="btn_start">open</button>
<button id="btn_reset">close</button>

<div>
    <div id="message"></div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>


</body>
</html>
