<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">


    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><i>Report generator</i></h5>
  <nav class="my-2 my-md-0 mr-md-3">
<!--
    <a class="p-2 text-dark" href="#">Features</a>
-->
  </nav>
    {% if not github %}
    <a class="btn btn-outline-primary" href="{{url_for('github_login')}}">Sign up</a>
    {% else %}
     <nav class="my-2 my-md-0 mr-md-3">
         <a class="p-4 text-dark" href="{{ github['url'] }}">{{ github['login'] }}</a>
         <img src='{{ github["avatar_url"] }}' alt="{{ github['url'] }}" height="35" width="35">
     </nav>
    {% endif %}
</div>

<body class="bg-light">

        {% block content %}

        {% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-latest.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>


</body>
</html>
