<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body class="bg-light">
<h1>Hello, world!</h1>

<button id="btn_start">open</button>
<button id="btn_reset">close</button>

<div>
    <div id="message"></div>
</div>

<div class="container">
    <div class="py-5 text-center">
        <h2>Генерация отчетов</h2>
    </div>
    <div class="col-md-10">
        <form action="home" class="needs-validation" method="POST">
            <div class="mb-3">
                <label for="wiki_name">Ссылка на вики:</label>
                <input type="text" class="form-control" id="wiki_name" name="wiki"
                       value="{{ request.args.get('wiki','') }}" required>
            </div>


            <div class="mb-3">
                <label for="repo_name">Ссылка на репозиторий, куда будет отправлен отчет:</label>
                <input type="text" class="form-control" id="repo_name" name="repo"
                       value="{{ request.args.get('repo','') }}" required>
            </div>


            <div class="mb-3">
                <label for="branch_name">Название ветки</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="branch_name" name="branch"
                           value="{{ request.args.get('branch','') }}" placeholder="master">
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="generalFont">Основной шрифт</label>
                    <input type="text" class="form-control" id="generalFont" placeholder="Times New Roman" value=""
                           required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="generalSize">Кегель</label>
                    <input type="text" class="form-control" id="generalSize" placeholder="14" value="" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="codeFont">Шрифт кода</label>
                    <input type="text" class="form-control" id="codeFont" placeholder="Consolas" value="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="codeSize">Кегель кода</label>
                    <input type="text" class="form-control" id="codeSize" placeholder="10" value="" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">

                    <label for="forH1">H1</label>
                    <input type="text" class="form-control" id="forH1" placeholder="" value="">
                </div>
                <div class="col-md-6 mb-3">

                    <label for="forH2">H2</label>
                    <input type="text" class="form-control" id="forH2" placeholder="" value="">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="forH3">H3</label>
                    <input type="text" class="form-control" id="forH3" placeholder="" value="">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="forH3">H3</label>
                    <input type="text" class="form-control" id="forH3" placeholder="" value="">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="forH3">H3</label>
                    <input type="text" class="form-control" id="forH3" placeholder="" value="">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="forH3">H3</label>
                    <input type="text" class="form-control" id="forH3" placeholder="" value="">
                </div>
            </div>


            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Вид работы
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" id="empty_doc" href="#">-</a>
                    <a class="dropdown-item" id="course_doc" href="#">Курсовая работа</a>
                    <a class="dropdown-item" id="lab_doc" href="#">Лабораторная работа</a>
                </div>
            </div>
            <div id="requirements"></div>


            <div>
                <button class="btn btn-primary" id="create_report" type="submit">Отправить</button>
                {% if link %}
                <a href={{link}} class="badge badge-primary">Ссылка на отчет</a>
                {% endif %}
                <div id="test"></div>
            </div>
        </form>


    </div>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery-latest.min.js"></script>
<script src="js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>