{% extends 'base.html' %}

{% block title %}

Home Page

{% endblock %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <h2>Генерация отчетов</h2>
    </div>
    <div class="col-md-10">
        <form method="POST" class="needs-validation" action="javascript:void(null);" onsubmit="submitForm()">

            <div class="mb-3">
                <label for="wiki_name">Ссылка на вики:</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="wiki_name" placeholder="https://github.com/<owner_repo>/<repo>.wiki.git" required>

                        <div class="input-group-append">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wiki
                                </button>
                            <div class="dropdown-menu" id="wiki_menu">

                                {% for repo in repositories %}
                                        <a href="{{ repo['url'] }}"  class="dropdown-item">{{ repo['name'] }}</a>
                                {% endfor %}

                            </div>
                        </div>
                </div>
            </div>




            <div class="mb-3">
                <label for="repo_name">Ссылка на репозиторий, куда будет отправлен отчет:</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="repo_name" placeholder="git@github.com:<owner_repo>/<repo>.git" required>

                    <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Repositories
                            </button>
                        <div class="dropdown-menu" id="repo_menu">
                            {% for repo in repositories %}
                                    <a href="{{ repo['url'] }}"  class="dropdown-item">{{ repo['name'] }}</a>
                            {% endfor %}

                        </div>
                    </div>


                </div>
            </div>


            <div class="mb-3">
                <label for="branch_name">Название ветки</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="branch_name" placeholder="master">
                </div>
            </div>


            <div class="row">
                <div class="col-md-3 mb-3">
                    <input type="button" class="btn btn-primary" id="style_setter" value="Настройка стилей">
                </div>

                <div class="dropdown col-md-4 mb-3" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Вид работы
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" id="empty_doc">-</a>
                        <a class="dropdown-item" id="course_doc">Курсовая работа</a>
                           <a class="dropdown-item" id="lab_doc">Лабораторная работа</a>
                    </div>
                </div>

            </div>


            <div id="style_settings" style="display:none;">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="general_font">Основной шрифт</label>
                        <input type="text" class="form-control" id="general_font" placeholder="Times New Roman"
                               value="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="general_size">Кегль</label>
                        <input type="text" class="form-control" id="general_size" placeholder="14" onkeypress="validate(event)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="code_font">Шрифт кода</label>
                        <input type="text" class="form-control" id="code_font" placeholder="Consolas">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="code_size">Кегль кода</label>
                        <input type="text" class="form-control" id="code_size" placeholder="10" onkeypress="validate(event)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="for_h1">Заголовок первого уровня</label>
                        <input type="text" class="form-control" id="for_h1" placeholder="Заголовок 1 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h2">Заголовок второго уровня</label>
                        <input type="text" class="form-control" id="for_h2" placeholder="Заголовок 2 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h3">Заголовок третьего уровня</label>
                        <input type="text" class="form-control" id="for_h3" placeholder="Заголовок 3 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h4">Заголовок четвертого уровня</label>
                        <input type="text" class="form-control" id="for_h4" placeholder="Заголовок 4 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h5">Заголовок пятого уровня</label>
                        <input type="text" class="form-control" id="for_h5" placeholder="Заголовок 5 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h6">Заголовок шестого уровня</label>
                        <input type="text" class="form-control" id="for_h6" placeholder="Заголовок 6 уровня" onkeypress="validate(event)">
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label for="md_pages">Перечень wiki-страниц</label>
                        <input type="text" class="form-control" id="md_pages" placeholder="Без расширения .md">
                    </div>

                </div>


            </div>
            <p></p>

            <div id="requirements" style="display:none;"></div>
            <hr>
            <div class="dropdown">

                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Доп. возможности</button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" id="comments_pr" type="button">Комментарии из пул реквестов</button>
            </div>

            </div>

            <div id="opportunity" style="display: none;">
                <div class='col-md-6 mb-3 row' id='window_of_opportunity'><label for='number_of_pr'>Номер пул реквеста</label><input type='text' class='form-control' id='number_of_pr'> </div>
            </div>





            <hr>
            <div class="row col-md-6 mb-3" id="buttons_field">
                <input type="submit" class="btn btn-primary" value="Сформировать отчет" id="btn_submit">
                &nbsp;&nbsp;&nbsp;&nbsp;

                {% if link %}
                <a href={{link}} id="total_link" class="btn btn-success">Ссылка на отчет</a>

                    <script type="text/javascript">
                        window.open('{{ link }}', "_blank");
                    </script>
                {% endif %}

            </div>
            <br>
            <div class="row col-md-6 mb-3">
                {% if not google %}
                    <a href="/googleauthorize" class="btn btn-info">Authorize in Goggle Drive</a>
                    {% else %}
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                        Save in Google Drive
                       </button>
            {% endif %}
            </div>
        </form>

        <br>
        <div class="well">
            <h4>Инструкция по использованию</h4>
            <ul class="list-group">
                <li class="list-group-item">Добавить в collaborators бота Prsender с правами <i>Write</i>, в репозиторий, который:</li>
                <ul class="list-group">
                    <li class="list-group-item"><strong>1.</strong>  Хранит вики, по которой будет создан отчет</li>
                    <li class="list-group-item"><strong>2.</strong>  репозиторий, куда надо отправить отчет</li>
                </ul>
            </ul>


        </div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Save in Google Drive</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

{% if google %}
          <div class="list-group">
          <a href="/post_report_pdf/0" class="list-group-item list-group-item-action">Корневая папка</a>
              {% for i in google %}
                <a href="/post_report_pdf/{{i['id']}}" class="list-group-item list-group-item-action">{{ i['name'] }}</a>
              {% endfor %}
          </div>
{% endif %}

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

</div>

</div>


{% endblock %}