{% extends 'base.html' %}

{% block title %}

Home Page

{% endblock %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <h2>Генерация отчетов</h2>
    </div>
    <div>
    <!--
        <div id="markdown-place-editor">
            <textarea name="md" id="md" cols="30" rows="10">
## You can write your markdown text here, or choose github mode
</textarea>
        </div>
    -->

        <form method="POST" class="needs-validation" action="javascript:void(null);" onsubmit="submitForm()">

            <div class="row">
                <div class="col offset-md-11">
                        <button class="btn btn-lg btn-warning" id="btn_main_settings" onclick="main_settings(); return false;" style="background-color:transparent;">
                            <i class="fa fa-gear"></i>
                        </button>
                </div>
            </div>
            <p></p>
                        <div id="requirements" style="display:none;"></div>
            <p>
            </p>
            <br>

            <div id="main_settings" style="display: none">
                <h2><i>Дополнительная настройка</i></h2>
            <br>
            <div class="row">

                <div class="col-md-3 mb-3">
                    <input type="button" class="btn btn-dark" id="style_setter" value="Настройка стилей">
                </div>

                <div class="dropdown col-md-4 mb-3" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Вид работы
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" id="empty_doc">-</a>
                        <a class="dropdown-item" id="lab_doc">Лабораторная работа</a>
                        <a class="dropdown-item" id="course_doc" disabled="true">Курсовая работа</a>
                    </div>
                </div>

            </div>

            </div>


            <div id="style_settings" style="display:none;">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="general_font">Основной шрифт</label>
                        <input type="text" class="form-control" id="general_font" placeholder="Times New Roman">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="general_size">Кегль</label>
                        <input type="text" class="form-control" id="general_size" placeholder="14" onkeypress="validate(event)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="code_font">Шрифт кода</label>
                        <input type="text" class="form-control" id="code_font" placeholder="Consolas">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="code_size">Кегль кода</label>
                        <input type="text" class="form-control" id="code_size" placeholder="10" onkeypress="validate(event)">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="for_h1">Заголовок первого уровня</label>
                        <input type="text" class="form-control" id="for_h1" placeholder="Заголовок 1 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h2">Заголовок второго уровня</label>
                        <input type="text" class="form-control" id="for_h2" placeholder="Заголовок 2 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h3">Заголовок третьего уровня</label>
                        <input type="text" class="form-control" id="for_h3" placeholder="Заголовок 3 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h4">Заголовок четвертого уровня</label>
                        <input type="text" class="form-control" id="for_h4" placeholder="Заголовок 4 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h5">Заголовок пятого уровня</label>
                        <input type="text" class="form-control" id="for_h5" placeholder="Заголовок 5 уровня" onkeypress="validate(event)">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="for_h6">Заголовок шестого уровня</label>
                        <input type="text" class="form-control" id="for_h6" placeholder="Заголовок 6 уровня" onkeypress="validate(event)">
                    </div>
                </div>
            </div>
            <p></p>


        <div class="row col-md-7 mb-3" id="buttons_field">
                 <button class="btn btn-success btn-lg" style="font-size: 2.25rem" id="btn_submit">
                            <i class="fa fa-file-pdf-o"></i> Cкачать отчет
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% if link %}
                <a href={{link}} id="total_link" class="btn btn-success" style="font-size: 2.25rem">Ссылка на отчет</a>

                <script type="text/javascript">
                    openGithub('{{ link }}');
                </script>
                {% endif %}
            </div>


            <br>
            <div class="row col-md-6 mb-3">
                {% if not google %}
                    <!-- <a href="/googleauthorize" class="btn btn-info" style="font-size: 1.3rem"> <i class="fa fa-file-pdf-o"></i> Сохранить на google drive</a> -->
                    <button class="btn btn-info" id="google_drive_button" style="font-size: 2rem" onclick="google_drive(); return false;"> <i class="fa fa-file-pdf-o"></i> Сохранить на google drive</button>
                    {% else %}
                       <button type="button" class="btn btn-danger"  style="font-size: 2.0rem" data-toggle="modal" data-target="#exampleModalLong">
                         <i class="fa fa-file-pdf-o"></i>
                           Выбрать место на google drive
                       </button>
                    <script>
                        document.getElementById('btn_submit').remove();
                    </script>
            {% endif %}
            </div>
        </form>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Save in Google Drive</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

{% if google %}
          <div class="list-group">
          <a href="/post_report_pdf/0" class="list-group-item list-group-item-action">Корневая папка</a>
              {% for i in google %}
                <a href="/post_report_pdf/{{i['id']}}" class="list-group-item list-group-item-action">{{ i['name'] }}</a>
              {% endfor %}
          </div>
{% endif %}

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

</div>

</div>

<div id="repo_name" style="display: none"></div>
<div id="wiki_name" style="display: none"></div>
<div id="branch_name" style="display: none"></div>


{% endblock %}