.fa {
    padding: 10px;
    font-size: 30px;
    width: 45px;
    height: 45px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    color: #9C1A1C;
}